<a href="https://colab.research.google.com/github/ancka019/ComputationsMethods6sem/blob/main/method4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from numpy.linalg import norm, cond, solve, inv
from scipy.linalg import hilbert

# Методы

общая схема итерационного метода

In [2]:
def iterational_method(alpha,beta,x0,eps): #общая схема итерационного метода
    num_of_iters = 1
    x1 = alpha @ x0 + beta
    while (norm(x1-x0)>eps and num_of_iters < 500):
        x0 = x1
        x1 = alpha @ x0 + beta
        num_of_iters += 1
    return x1, num_of_iters

метод Зейделя

In [8]:
def seidel_method(a,b,x0,eps): 
    n, m = a.shape[0], a.shape[1]
    l,r,d = [np.zeros([n,m]) for _ in range(3)]
    for i in range(n):
        for j in range(m):
            if i > j:
                l[i,j] = a[i,j]
            elif i < j:
                r[i,j] = a[i,j]
            else:
                d[i,j] = a[i,j]
    beta = inv(d+l)
    return iterational_method(-beta@r,beta@x0,x0,eps)

метод простых итераций

In [4]:
def simple_iterational_method(a,b,x0,eps): 
    alpha = np.zeros([a.shape[0],a.shape[1]])
    beta = np.zeros(b.shape[0])
    for i in range(alpha.shape[0]):
        for j in range(alpha.shape[1]):
            if i != j:
                alpha[i,j] = -a[i,j]/a[i,i]
                beta[i] = b[i]/a[i,i]
    return iterational_method(alpha,beta,x0,eps)

тесты

In [5]:
matrix1 = np.array([[-401.64, 200.12], 
               [21200.72,  -601.76]]) 

matrix2 = np.array([[-400.94, 200.02],
               [1200.12, -600.96]])
matrix3 = np.array([[1,2],
              [2,3]])

matrix4 = np.array([
    [0.1,0.2,0.3],
    [0.3,0.3,0.3],
    [0.3,0.9,0.7]])

# Решение

In [6]:
array = [matrix1,matrix2, matrix3, matrix4,hilbert(4),hilbert(5)]

In [9]:
X = pd.DataFrame(columns=['eps=10^(-4),||x_eps-x||','eps=10^(-4),iters',
                          'eps=10^(-8),||x_eps-x||', 'eps=10^(-8),iters',
                          'eps=10^(-12),||x_eps-x||','eps=10^(-12),iters'])

Y = pd.DataFrame(columns=['eps=10^(-4),||x_eps-x||','eps=10^(-4),iters',
                          'eps=10^(-8),||x_eps-x||', 'eps=10^(-8),iters',
                          'eps=10^(-12),||x_eps-x||','eps=10^(-12),iters'])


for matrix in array:
    b = np.random.uniform(-100,100,size=matrix.shape[0])
    x = solve(matrix,b)
    row_X,row_Y = [],[]
    for i in range(4,13,4):
        x_seidel,seidel_iters = seidel_method(matrix,b,b,10**(-i))
        x_iter,iter_iters = simple_iterational_method(matrix,b,b,10**(-i))
        row_X.extend([norm(x_seidel-x),seidel_iters])
        row_Y.extend([norm(x_iter-x),iter_iters])
    X = X.append(pd.Series(row_X,index=X.columns),True)
    Y = Y.append(pd.Series(row_Y,index=Y.columns),True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: RuntimeWarning: overflow encountered in matmul

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: RuntimeWarning: invalid value encountered in subtract
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: RuntimeWarning: invalid value encountered in matmul

In [10]:
X.index = ['matrix1','matrix2','matrix3', 'matrix4','hilbert(4)','hilbert(5)']

X

,"eps=10^(-4),||x_eps-x||","eps=10^(-4),iters","eps=10^(-8),||x_eps-x||","eps=10^(-8),iters","eps=10^(-12),||x_eps-x||","eps=10^(-12),iters"
matrix1,inf,249.0,inf,249.0,inf,249.0
matrix2,1.142001e+01,500.0,1.142001e+01,500.0,1.142001e+01,500.0
matrix3,8.814734e+64,500.0,8.814734e+64,500.0,8.814734e+64,500.0
matrix4,1.169070e-04,205.0,1.313736e-08,325.0,1.122568e-12,448.0
hilbert(4),1.085013e+04,500.0,1.085013e+04,500.0,1.085013e+04,500.0
hilbert(5),1.283570e+07,500.0,1.283570e+07,500.0,1.283570e+07,500.0

In [11]:
Y.index = ['matrix1','matrix2','matrix3', 'matrix4','hilbert(4)','hilbert(5)']

Y

,"eps=10^(-4),||x_eps-x||","eps=10^(-4),iters","eps=10^(-8),||x_eps-x||","eps=10^(-8),iters","eps=10^(-12),||x_eps-x||","eps=10^(-12),iters"
matrix1,NaN,494.0,NaN,494.0,NaN,494.0
matrix2,4.064391e+01,500.0,4.064391e+01,500.0,4.064391e+01,500.0
matrix3,6.730155e+33,500.0,6.730155e+33,500.0,6.730155e+33,500.0
matrix4,inf,500.0,inf,500.0,inf,500.0
hilbert(4),inf,500.0,inf,500.0,inf,500.0
hilbert(5),inf,500.0,inf,500.0,inf,500.0